@{
    ViewData["Title"] = "Home Page";
}

<section class="landing">
    <div class="container">
        <div class="text">
            <h1 class="bigger-text">Your Moving & Delivery Made Easy</h1>
            <p>
                Do you have delivery or moving needs? Do not waste your time or
                money. Use Movars to find help on your schedule at an affordable price.
            </p>
            <div><a href='/#' class='btn btn__primary btn__action'>Get Started</a></div>
        </div>
        <div class="image">
            <img src="images/delivery4.svg" alt="" />
        </div>
    </div>
</section>

<section class='container services'>
    <h2 class='text-start fw-bolder'>Get the Moving & <br />Delivery Help You Need</h2>
    <div class="row pt-4 gap-5">
        <div class="col service">
            <div class="icon mb-4">
                <iconify-icon icon="material-symbols:store-rounded"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Retail Store Delivery</p>
                <p class="desc">Convenient, fast, and often cheaper than traditional store delivery options.</p>
                <iconify-icon icon="material-symbols:arrow-right-alt-rounded"></iconify-icon>
            </div>
        </div>
        <div class="col service">
            <div class="icon mb-4">
                <iconify-icon icon="fa6-solid:boxes-packing"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Mini & small moves</p>
                <p class="desc">The perfect solution for moving one or a few items easily.</p>
                <iconify-icon icon="material-symbols:arrow-right-alt-rounded"></iconify-icon>
            </div>
        </div>
        <div class="col service">
            <div class="icon mb-4">
                <iconify-icon icon="game-icons:sofa"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Labour only moves</p>
                <p class="desc">Don’t lift a finger, get help loading, unloading & moving furniture and other larger items.</p>
                <iconify-icon icon="material-symbols:arrow-right-alt-rounded"></iconify-icon>
            </div>
        </div>
        <div class="col service">
            <div class="icon mb-4">
                <iconify-icon icon="clarity:building-solid"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Apartment moves</p>
                <p class="desc">Convenient, fast, and often cheaper than traditional store delivery options.</p>
                <iconify-icon icon="material-symbols:arrow-right-alt-rounded"></iconify-icon>
            </div>
        </div>
        <div class="col service">
            <div class="icon mb-4">
                <iconify-icon icon="ic:baseline-business-center"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Small business moves</p>
                <p class="desc">Don’t lift a finger, get help loading, unloading & moving furniture and other larger items.</p>
                <iconify-icon icon="material-symbols:arrow-right-alt-rounded"></iconify-icon>
            </div>
        </div>
    </div>

</section>

<section class="container">
    <h2 class='head__text'>Why movars</h2>
    <div class="pitch__wrapper row">
        <div class="pitch col">
            <div class="icon mb-4">
                <iconify-icon icon="material-symbols:store-rounded"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Trustworthy Help</p>
                <p class="desc">We think 4-hour delivery windows suck, too. So we don't have them. You set the time your Helper will be there.</p>
            </div>
        </div>
        <div class="pitch col">
            <div class="icon mb-4">
                <iconify-icon icon="material-symbols:store-rounded"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Guaranteed Pricing</p>
                <p class="desc">We think 4-hour delivery windows suck, too. So we don't have them. You set the time your Helper will be there.</p>
            </div>
        </div>
        <div class="pitch col">
            <div class="icon mb-4">
                <iconify-icon icon="material-symbols:store-rounded"></iconify-icon>
            </div>
            <div class="text">
                <p class="title">Save Time & Your Back</p>
                <p class="desc">We think 4-hour delivery windows suck, too. So we don't have them. You set the time your Helper will be there.</p>
            </div>
        </div>
    </div>
</section>

<section class='container questions'>
    <h2 class="head__text text-start">Still Have Questions?</h2>
    <div class="row">
        <div class="accordion accordion-flush col" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Approximate Shifting charges within Nigeria
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        As there are many unprofessional and non-reliable movers, which may only make the promise that never perform.
                        There are many reasons why you find the issue to find the right mover.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        How to verify Movers and Packers
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        As there are many unprofessional and non-reliable movers, which may only make the promise that never perform.
                        There are many reasons why you find the issue to find the right mover.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Intercity Movers from Lagos to Other Cities
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        There are many reasons why you find the issue to find the right mover. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush col" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Approximate Shifting charges within Nigeria
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        As there are many unprofessional and non-reliable movers, which may only make the promise that never perform.
                        There are many reasons why you find the issue to find the right mover.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        How to verify Movers and Packers
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">As there are many unprofessional and non-reliable movers, which may only make the promise that never perform.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Intercity Movers from Lagos to Other Cities
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
            </div>
        </div>
    </div>
</section>