
@{
}

<section class="container request_form_wrapper">
    <h1 class="heavy__text mb-4">Select Type</h1>
    <div class="row types__wrapper gap-5">

        <input type="radio" name="request_types" id="rbApartment" />
        <label for="rbApartment" class="type col">
            <div class="banner apart mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">Apartment Move</p>
            <p class="desc">Move your studio 1Room or 2Rooms apartment</p>
        </label>

        <input type="radio" name="request_types" id="rbOffice" />
        <label for="rbOffice" class="type col">
            <div class="banner office mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">Office Move</p>
            <p class="desc">An easy way to move your office items</p>
        </label>

        <input type="radio" name="request_types" id="rbLabour" />
        <label for="rbLabour" class="type col">
            <div class="banner labour mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">No Truck, Laobour Only</p>
            <p class="desc">No truck, but a ton of muscle</p>
        </label>

        <input type="radio" name="request_types" id="rbOthers" />
        <label for="rbOthers" class="type col">
            <div class="banner others mb-3">
                <div class="overlay-dark d-flex">
                    <div class="checkmark d-flex">
                        <iconify-icon icon="material-symbols:check-small-rounded"></iconify-icon>
                    </div>
                </div>
            </div>
            <p class="title">Others</p>
            <p class="desc">Move properties not the previous boring options?!</p>
        </label>
    </div>


</section>

<section class="container">
    <h1 class="heavy__text mb-4">Apartment Move</h1>
    <div class="d-flex request__wrapper">
        <div class="request_form_fill mb-5">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
                <label class="btn btn__secondary" for="btnradio1">1 Room</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
                <label class="btn btn__secondary" for="btnradio2">2 Rooms</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
                <label class="btn btn__secondary" for="btnradio3">3 Rooms</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" />
                <label class="btn btn__secondary" for="btnradio4">Above 3</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradioStudio" autocomplete="off" />
                <label class="btn btn__secondary" for="btnradioStudio">Studio</label>
            </div>

            <div class="form__wrapper mt-5">
                <form class="row g-3">
                    <h5 class="group-title">Origin •-----------------------------------› Destination</h5>
                    <div class="col-md-6 form-group">
                        <label for="originState" class="form-label">Pickup State</label>
                        <select id="originState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="destiState" class="form-label">Dropoff State</label>
                        <select id="destiState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="originCity" class="form-label">Pickup City</label>
                        <select id="originCity" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="destiCity" class="form-label">Dropoff City</label>
                        <select id="destiCity" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="pickupAddr" class="form-label">Pickup Address</label>
                        <input type="text" class='form-control' id="pickupAddr" placeholder="Street Address" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="dropAddr" class="form-label">Dropoff Address</label>
                        <input type="text" class='form-control' id="dropAddr" placeholder="Street Address" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="pickupDate" class="form-label">Date</label>
                        <input type="date" class='form-control' id="pickupDate" name='setTodaysDate' required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="pickupTime" class="form-label">Time</label>
                        <input type="time" class='form-control' id="pickupTime" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="pickupFloor" class="form-label">Pickup Floor</label>
                        <input type="number" class='form-control' id="pickupFloor" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="dropFloor" class="form-label">Dropoff Floor</label>
                        <input type="number" class='form-control' id="dropFloor" required />
                    </div>

                    <div class="col-md-6">
                        <a href="/" class="btn bg__primary text__light fw-bold w-100 btn_quote">Get a Quote</a>
                    </div>
                    <div class="col-md-6 form-group">
                        <button class="btn bg__secondary text__light fw-bold w-100 btn_submit" type="submit">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="details brief">
            <p class="qTitle">Estimated Price</p>
            <p class="quote">₦20000 - ₦40000</p>
            <div class="anime">
                <img src="~/images/truck.gif" alt="truck" />
            </div>
            <div class="flash_wrap">
                <p class="flash_green">
                    <iconify-icon icon="ic:round-phone"></iconify-icon>Reach out to our support for any issues
                </p>
                <p class="flash_coral">
                    <iconify-icon icon="mdi:brightness-percent"></iconify-icon>Reach out to our support for any issues
                </p>
            </div>
        </div>
    </div>

</section>