.footer {
    font-size: 0.7rem;
    padding: 3rem 0;
}

.footer div {
    flex: 1;
}

.footer .title {
    font-weight: bold;
}

.footer .links {
    gap: 10px;
}
.footer a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray);
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: var(--dusty-green);
}
